<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/vendor/bulma.min.css">
    <link rel="stylesheet" href="{% webpackAsset 'main.css' %}">
    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <h1 class="title is-marginless">
            <a class="navbar-item" href="https://bulma.io">
              Elevenpack
            </a>
          </h1>
        </div>
      </div>
    </nav>
    <div class="content content-lead">
      {{ content | safe }}
    </div>
    <script src="{% webpackAsset 'main.js' %}"></script>
  </body>
</html>
