---
title: Elevenpack
layout: default
---

<div class="container">
  <p>
    This page uses <a href="https://bulma.io">Bulma</a>, to show off an example of using vendor
    packages. In the likely event that you don't want it, delete the file from
    <code>src/vendor</code> and adjust your <code>src/_includes/layout.njk</code>
  </p>
</div>
